BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: false
SortIncludes: true
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
